.warning { background: url(../images/sprite.png) 0px 0px no-repeat; }
.geek { background: url(../images/sprite.png) -192px 0px no-repeat; }
.facebook { background: url(../images/sprite.png) -96px -32px no-repeat; }
